# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
logs
node_modules/

# Папка с собранными файлами проекта
build/

# Моки
mocks.json
