header.header(class=headerClasses)
  a.header__logo.logo(class=logoClasses href="#")
    img.logo__image(src="img/icons/logo-image-only.svg" alt="логотип Тайпотеки")
    span.logo__name Типотека

  case headerType
    when "UNAUTH"
      nav.header__nav 
        ul.header__nav-list 
          li.header__list-item 
            a.header__registration(href="#") Регистрация
          li.header__list-item 
            a.header__enter(href="#") Вход с паролем
      a.header__search.button.button--search(href="#" aria-label="поиск по сайту")

    when "SIGN_IN"
      nav.header__nav 
        ul.header__nav-list 
          li.header__list-item 
            a.header__popup(href="#") Регистрация
          li.header__list-item 
            a.header__enter(href="#") Вход с паролем
      a.header__search.button.button--search(href="#" aria-label="поиск по сайту")
      
    when "AUTH"
      nav.header__nav
        ul.header__nav-list
          li.header__list-item
            p Алёна Фролова
          li.header__list-item
            a.header__exit(href="#") Выйти
      a.header__avatar.avatar
        img(src="img/avatar-2.png" alt="аватар пользователя")
      a.header__search.button.button--search(href="#" aria-label="поиск по сайту")

    when "NEW_POST"
      button.button.button--colored.header__button-new Новая запись
      div.header__dropdown 
        a.button.button--burger.header__burger(href="#") Открыть меню
        ul.navigation.header__navigation 
          li.navigation__item
            a(href="index.html") index.html --- все ссылки
          li.navigation__item
            a(href="main.html") main.html --- Главная страница
          li.navigation__item
            a(href="main-variation.html") main-variation.html --- Главная страница (варианты вида)
      a.header__search.button.button--search(href="#" aria-label="поиск по сайту")
      




    
  


  


//- <header class="header header--error">
//-   <a class="header__logo header__logo--404 logo" href="#">
//-     <img src="img/icons/logo.svg" alt="логотип Тайпотеки">
  
//-   <a class="header__registration" href="#">Регистрация
//-   <a class="header__enter" href="#">Вход с паролем
//-   <a class="header__search button button--search" href="#" aria-label="поиск по сайту">
