extends layout.pug

block prepend head
  meta(name="Description" content="Личный блог Типотека")
  base(href="/")

block prepend body
  -var wrapperClasses=["wrapper"]

block prepend header
  -var headerType="UNAUTH"

block content
  main.articles-category
    h1 #{categoryName}
    section.articles-category__theme-list
      h2.visually-hidden &Scy;&pcy;&icy;&scy;&ocy;&kcy; &tcy;&iecy;&mcy;
      include includes/categories.pug
    section.articles-category__list.preview
      h2.visually-hidden &Scy;&pcy;&icy;&scy;&ocy;&kcy; &pcy;&rcy;&iecy;&vcy;&softcy;&yucy; &scy;&tcy;&acy;&tcy;&iecy;&jcy;
      ul.preview__list
        each post in posts
          include includes/post-preview.pug
      .preview__toggle-wrapper
        include includes/paginator.pug

