doctype html
html(lang='ru')
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel="preload" href="./fonts/Inter-Regular.woff2" as="font" crossorigin="anonymous")
      link(rel="preload" href="./fonts/Inter-Medium.woff2" as="font" crossorigin="anonymous")
      link(rel="preload" href="./fonts/SFProDisplay-Regular.woff2" as="font" crossorigin="anonymous")
      link(rel="stylesheet" href="css/style.min.css")
      title #{siteTitle="Типотека"}

  block body
    body(class=bodyClasses style=bodyStyle)
    div(class=wrapperClasses)
      block header 
        include includes/header.pug
      block content
      include includes/footer.pug