extends layout.pug

block prepend head
  -var siteTitle="registration"
  meta(http-equiv="X-UA-Compatible" content="ie=edge")

block prepend body
  -var wrapperClasses=["wrapper"]

block append body
  script(src="js/main.js")

block prepend header
  -var headerType="SIGN_IN"

block content
    main
      h1.visually-hidden Регистрация пользователя
      section(class="modal")
        div(class="popup popup--registration")
          button(type="button" class="popup__button button button--popup-close" aria-label="Закрыть окно") 
            | Закрыть окно
          h2(class="visually-hidden") Форма регистрации
          ul(class="popup__tabs")
            li(class="popup__tab popup__tab--active popup__tab--register")
              button(type="button" class="popup__tab-switcher button") Регистрация
            
            li(class="popup__tab popup__tab--log-in")
              button(type="button" class="popup__tab-switcher button") Войти
          
          div(class="popup__form popup__form--active form form--register")
            form(action="#" method="get")
              div(class="form__field")
                label
                  input(type="email" placeholder="Электронная почта" required="")
              div(class="form__field")
                label
                  input(type="text" placeholder="Имя" required="")
              div(class="form__field")
                label
                  input(type="text" placeholder="Фамилия")
              div(class="form__field")
                label
                  input(type="password" placeholder="Пароль" required="")
              div(class="form__field")
                label
                  input(type="password" placeholder="Повтор пароля" required="")
              div(class="form__image-loader")
                a(class="form__avatar avatar")
                  img(src="img/icons/smile.svg" alt="аватар пользователя")
                label
                  input(type="file" class="visually-hidden")
                  | Загрузить фото профиля
              
              button(class="form__submit-btn form__submit-btn--register button button--colored" type="submit") 
                | Зарегистрироваться
          
          div(class="popup__form popup__form--hidden form form--log-in")
            form(action="#" method="get")
              div(class="form__field")
                label
                  input(type="email" placeholder="Электронная почта" required="")
              div(class="form__field")
                label
                  input(type="password" placeholder="Пароль" required="")

              button(class="form__submit-btn form__submit-btn--log-in button button--colored" type="submit" Войти)
        
        div(class="modal__overlay")
      