extends layout.pug

block prepend head
  meta(name="Description" content="Личный блог Типотека")

block prepend body
  -var wrapperClasses=["wrapper", "wrapper--nobackground"]

block prepend header
  -var headerType="NEW_POST"

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title &Mcy;&ocy;&icy; &zcy;&acy;&pcy;&icy;&scy;&icy;
      ul.notes__list
        each post in posts
          li.notes__list-item
            time.notes__item-time(datetime=post.dateTime) #{post.dateTimeLocalized}
            a.notes__item-text(href=`/articles/edit/${post.id}`) #{post.title}
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;
