extends layout.pug

block prepend head
  -var siteTitle="new publication"
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  base(href="/")

block prepend body
  -var bodyStyle={"padding-right": "17px"}
  -var bodyClasses=["body-fixed"]
  -var wrapperClasses=["wrapper"]

block append body
  script(src="js/vendor.js")
  script(src="js/main.js")

block prepend header
  -var headerType="NEW_POST"

block content
  main
    section.modal.modal--flex
      .popup.popup--new-publication.popup--flex
        .new-publication
          form(action='#' method='POST')
            .new-publication__header
              h1 &Ncy;&ocy;&vcy;&acy;&yacy; &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&yacy;
              .new-publication__date-form
                h3 &Dcy;&acy;&tcy;&acy; &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&icy;
                .new-publication__date-form-division
                  .new-publication__date-block
                    label(for='new-publication-date' aria-label='Календарь')
                    input#new-publication-date(type='text' name='login' placeholder='21.03.2019')
              button.new-publication__button.button.button--colored(type='submit') &Ocy;&pcy;&ucy;&bcy;&lcy;&icy;&kcy;&ocy;&vcy;&acy;&tcy;&softcy;
            button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно')
              | &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy;
              | &ocy;&kcy;&ncy;&ocy;
            .new-publication__form.form
              .form__wrapper.form__wrapper--intro
                .form__field
                  label
                    input(type='text' placeholder='Заголовок' required='')
                .form__field.form__field--post-image
                  label
                    input#image-name-field(type='text' placeholder='Фотография' readonly='')
                  .form__image-loader.form__image-loader--publication
                    label
                      input.visually-hidden(type='file')
                      | &Ocy;&bcy;&zcy;&ocy;&rcy;
                a.new-publication__form-link.button.button--transparent(href='#') &Dcy;&ocy;&bcy;&acy;&vcy;&icy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
              .form__wrapper.form__wrapper--text
                .form__field.form__field--publication-text
                  label
                    textarea(rows='1' placeholder='Анонс публикации')
                .form__field.form__field--publication-text
                  label
                    textarea(rows='1' placeholder='Полный текст публикации')
      .modal__overlay

